:root {
    /* Sky colour */
    --background-colour: #1e1e1e;
}

#webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-colour);
}

div {
    user-select: none;
}